{% extends "app.html" %} {% load static %}
{% block page_head %}
<title>Magic 15</title>
<link rel="stylesheet" href="{% static 'css/magic15.css' %}" />
<link rel="stylesheet" href="{% static 'css/magic15_home.css' %}" />
{% endblock %}
{% block apollos_content_1 %}
<div class="apollos-container apollos-app">
    {% if messages %}
    {% for message in messages %}
    <div{% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
    {% endif %}
    <div id="start_container" class="mft-col">
        <div class="mft-row mft-title">START MATCH</div>
        {% csrf_token %}
        <div class="mft-row">
            <div class="mft-button" onclick="showCreate()">CREATE</div>
        </div>
        <div class="mft-row">
            <div class="mft-button" onclick="showJoin()">JOIN</div>
        </div>
    </div>
</div>
<div id="createModal" class="mft-modal"></div>
<div id="joinModal" class="mft-modal"></div>
{% endblock %}
{% block page_scripts %}
<script type="text/javascript" src="{% static 'js/magic15.js' %}"></script>
<script type="text/javascript" src="{% static 'js/magic15_start.js' %}"></script>
{% endblock %}