{% extends "app.html" %} {% load static %}
{% block page_head %}
<title>15 Toes</title>
<link rel="stylesheet" href="{% static 'css/magic15.css' %}" />
{% endblock %}
{% block apollos_content_1 %}
<div id="createModal" class="mft-modal"></div>
<div id="joinModal" class="mft-modal"></div>
<div class="apollos-container apollos-app">
    <div class="mft-col">
        <div class="mft-row mft-title">START MATCH</div>
        {% csrf_token %}
        <div class="mft-row">
            <div class="mft-button" onclick="showCreate()">CREATE</div>
        </div>
        <div class="mft-row">
            <div class="mft-button" onclick="showJoin()">JOIN</div>
        </div>
    </div>
</div>
{% endblock %}
{% block page_scripts %}
<script type="text/javascript" src="{% static 'js/magic15.js' %}"></script>
<script type="text/javascript" src="{% static 'js/magic15_start.js' %}"></script>
{% endblock %}