.mft-card {
    background-color: transparent;
    height: 39rem;
}

.mft-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.mft-card.clicked .mft-card-inner {
    transform: rotateY(180deg);
}

.mft-card-front,
.mft-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.mft-card-back {
    text-align: start;
    transform: rotateY(180deg);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff8ed;
    border-radius: 1rem;
    overflow-y: auto;
}

.mft-title,
.close-button {
    font-size: 2rem;
    margin: 0 1rem;
}

.mft-text {
    margin: 1rem;
}